body 
{
  margin: 0;
  background-color: #474B4F;
}

canvas {
  display: block;
  /*vertical-align: bottom;*/
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222629;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}
  
/* Navbar */
.bg-dark {
  background:transparent !important;
  transition:0.75s ease;
}
.bg-dark.scrolled {
  background:#000 !important;
}

/* Header/Jumbotron */
#header
{
  color: snow;
  width: 100%;
  height: 600px;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  position: relative;
}

#header-text
{
  text-align: center;
  margin: 20%;
}

#about{
  width: auto;
  color: snow;
  border-radius: 25px;
  margin: 2%;
  position: absolute;
}

#profile-title {
  width: auto;
  color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective-origin: 50% 50%;
}

#profile-pic{
  text-align: center;
  margin: auto auto;
}

#profile-pic
img
{
  border-radius: 15%;
  border: #61892F solid 6px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  margin: auto;
}

.article {
  width: auto;
  color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective-origin: 50% 50%;
  display: block;
  min-width: 300px;
}

#paragraph{
  margin: 30px;
}

/* resume */

#resume-div{
  text-align: center;
}

#resume-link{
  font-size: x-large;
}

/* skills */

#skills{
  border-radius: 25px;
  background-color: #6B6E70;
  width: auto;
  margin: 2%;
  padding: 2%;
  align-items: center;
  color: snow;
}

#skills-header{
text-align: center;
}

#skill-icons{
    display: inline-flex;
}

#skill-icons
li{
    list-style: none;
    text-align: center;
}

#skill-icon{
  display: inline-block;
  margin: 2%;
  height: 75x;
  width: 75px;
}

.card-body{
    color: black;
    max-width: 400px;
}




  
  

/*  Projects */
#project-section{
  background-color: #6B6E70;
  width: auto;
  border-radius: 25px;
  align-items: center;
  perspective-origin: 50% 50%;
  margin: 2%;
}

#project-header{
text-align: center;
}

#project{
  margin: 2%;
}

#projects{
  margin: auto;
  padding: 2%;
}

#projects > div {
    max-width: 250px;
}

#project-img{
    
  height: 175px;
  width: 175px;
  border-radius: 25px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* media icons */

#media-icons{
  border-radius: 25px;
  background-color: #6B6E70;
  width: auto;
  margin: 2%;
  align-items: center;
  perspective-origin: 50% 50%;
}

#media-icons > col{
  text-align: center;
}

#media-icon {
  border-radius: 50%;
  height: 75x;
  width: 75px;
}

/* form */

.form {
  background-color: dimgrey;
    color: snow;
    border: solid black 2px;
    text-align: center;
    z-index: 3;
}

.form-style-9{
max-width: 450px;
background: 282828;
padding: 30px;
margin: 50px auto;
box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
border-radius: 10px;
border: 3px solid #6B6E70;
}
.form-style-9 ul{
padding:0;
margin:0;
list-style:none;
}
.form-style-9 ul li{
display: block;
margin-bottom: 10px;
min-height: 35px;
}
.form-style-9 ul li  .field-style{
box-sizing: border-box; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
padding: 8px;
outline: none;
border: 1px solid #B0CFE0;

}.form-style-9 ul li  .field-style:focus{
box-shadow: 0 0 5px #B0CFE0;
border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
width: 49%;
}
.form-style-9 ul li .field-full{
width: 100%;
}
.form-style-9 ul li input.align-left{
float:left;
}
.form-style-9 ul li input.align-right{
float:right;
}
.form-style-9 ul li textarea{
width: 100%;
height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
box-shadow: inset 0px 1px 0px 0px #3985B1;
background-color: black;
border: 1px solid snow;
display: inline-block;
cursor: pointer;
color: #FFFFFF;
padding: 8px 18px;
text-decoration: none;
font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
background-color: dimgrey;
}

/* footer */

footer {
  color: snow;
  text-align: center;

}