body {
    background-color: #282828;
}

.jumbopic{
    width: 100%;
    max-height: 500px;
}

 /* @import url('https://ak4.picdn.net/shutterstock/videos/2888044/thumb/1.jpg') repeat scroll 0 0 rgba(0, 0, 0 , 0);  */



.jumbotron {
    /* background-color: black; */
    background: url("https://ak4.picdn.net/shutterstock/videos/2888044/thumb/1.jpg");
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 50s linear infinite;
}

@keyframes animation {
    100%{
     background-position:0px -3000px;
    }
   }

.big-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    color: snow;
  }

  .big-name > h1 {
      font-size: 60px;
  }

  .big-name > p {
      font-size: 30px;
  }

  #nav {
      background-color: dimgrey;
      height: 90px;
  }
  
  .nav-link {
      color: red;
  }

  .navbar {
      float: right;
  }

  #welcome {
      background-color: dimgrey;
      text-align: center;
      color: snow;
      border: solid black 2px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      margin: 10px;
  }

  #welcome-word
  {
      color: snow;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      float: left;
      margin: 0px;
  }

  #welcome-text {
    color: snow;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 0px;
  }

  #favorite-quotes {
      font-family: 'Times New Roman', Times, serif;
      font-style: italic; 
      color: snow;
      font-size: large;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      
  }

  #quotes {
      background-color: #282828;
      margin: 10px;
      
  }

  #quote-sections {
      margin: 5px;
      background-color: dimgrey;
      border: solid black 2px; 
  }

  #about {
      background-color: dimgrey;
      color: snow;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      margin: 10px;
  }

  .article {
      background-color: dimgrey;
      color: snow;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: x-large;
      margin: 10px;
  }

  .resume {
      text-align: center;
      
  }

  .resume-text {
     margin: 10px; 
     
     color: snow;
     font-family: 'Times New Roman', Times, serif;
  }

.form {
    background-color: dimgrey;
      color: snow;
      border: solid black 2px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
}

 footer {
     color: snow;
     text-align: center;

 }

 .media-icon {
     border-radius: 50%;
     height: 75x;
     width: 75px;
     margin: auto;
 }

 .col-sm > a{
   text-align: center;
 }

 #core-values-text {
    background-color: dimgrey;
    color: snow;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    height: 90px;
    padding-top: 20px;
 }

.form-style-9{
	max-width: 450px;
	background: 282828;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid dimgray;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: black;
	border: 1px solid red;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background-color: dimgrey;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 250px;
    height: 225px;
    margin: auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dimgrey;
    color: snow;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    transform: rotateY(180deg);
  }

  #project-header{
    background-color: dimgrey;
    color: snow;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    height: 70px;
    padding-top: 15px;
  }

  #project{
    color: snow;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
  }
  #colassal-sounds-project{
    background-color: snow;
  }

  .projects{
    display: inline-flexbox;
  }

  #guessing-game{
    background-color: snow;
  }